.content{
    background:white;
}
.textValorActual{
    text-align: center;
    color:orange;
}
.textName{
    font-size:12px;
    color:orange;
}
.textFecha{
    font-size:12px;
    color:orange;
}
.textUnidadDeMedida{
    font-size:12px;
    color:orange;
}